@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body { margin: 0; }

body {
	background-image: url("https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29sb3JmdWwlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
	background-size: cover;
	height: 100vh;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
}

#header {
	height: 200px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#header div:first-of-type {
	position: absolute;
	height: 200px;
	width: 80%;
	background-color: aliceblue;
	filter: opacity(50%) blur(5px);
	border: 1px solid black;
	border-radius: 30px;
}

#header div:last-of-type {
	position: absolute;
}

#content {
	display: flex;
	justify-content: space-around;
}

#content div:first-of-type {
	height: 680px;
	width: 465px;
	background-image: url("https://media.discordapp.net/attachments/639081920050757633/945032156550406215/Screenshot_20220220_200019.png?width=453&height=662");
	background-size: contain;
	filter: sepia(100%) blur(1px);
}

p {
	margin-top: 0px;
}

p:last-of-type {
	margin-top: -150px;
}