/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;1,400;1,800&display=swap");

body {
    background-color: rgb(10, 14, 19);
    font-family: 'Playfair Display', serif;
    overflow: hidden;
}

#nickdiv {
    color: rgb(255, 241, 162);
    font-size: xx-large;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-shadow: 5px 5px 20px rgb(0, 83, 83),
    -5px -5px 20px rgb(0, 83, 83);
}

#nickdiv input {
    padding: 20px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    background-color: rgb(23, 33, 44);
    color: azure;
    font-size: xx-large;
    text-align: center;
}

#gamediv {
    color: rgb(255, 241, 162);
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#card {
    border: 1px solid rgb(0, 83, 83);
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 80vh;
    width: 80vw;
}

#card > div {
    height: 75vh;
    margin: auto;
    border: 1px solid rgb(0, 83, 83);
    border-radius: 20px;
    padding: 10px;
}

#card img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 25% 10% 25% 10%;
}

#actions {
    display: grid;
    grid-template-rows: 75% 25%;
    width: 80%;
}

#actions div:first-of-type {
    display: grid;
    flex-direction: column;
    height: 100%;
    align-content: space-around;
}

#actions input {
    padding: 20px;
    height: 10%;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    background-color: rgb(23, 33, 44);
    color: azure;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#output {
    height: 100%;
    border: 1px solid rgb(0, 83, 83);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#enddiv h1 {
    color: rgb(255, 241, 162);
    text-shadow: 5px 5px 20px rgb(0, 83, 83),
    -5px -5px 20px rgb(0, 83, 83);
    border-bottom: 1px solid white;
}

#enddiv {
    color: azure;
    display: none;
    padding: 20px;
    border: 1px solid azure;
    border-radius: 20px;
    margin: auto;
    height: 90vh;
}