@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

html, body {
	padding: 0;
	margin: 0;
}

body {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#bg {
	height: 100vh;
	position: absolute;
	top: 0px;
	filter: blur(5px);
}

#first {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom left;
	background-image: url("https://images.saatchiart.com/saatchi/11137/art/5148125/4217945-QRCNUXVC-7.jpg");
}

#second {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-image: url("https://images.saatchiart.com/saatchi/11137/art/8174477/7240481-EZYQBYSV-7.jpg");
}

#content {
	position: absolute;
	top: 0px;
	display: flex;
}

#left {
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#lefttop {
	display: flex;
	justify-content: space-between;
	height: 17vh;
	width: 100%;
	background-color: #C4C4C4;
}

#lefttop h1 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0 auto;
	align-self: center;
	font-size: 64px;
	font-family: 'dosis', sans-serif;
}

#leftdown {
	height: 75%;
	width: 75%;
	background-color: #C4C4C4;
	margin: auto;
	overflow: auto;
}

#leftdown p {
	font-family: 'dosis', sans-serif;
	font-size: 26px;
	padding: 20px;
	padding-left: 10%;
	padding-right: 10%;
	text-align: justify;
}

#right {
	width: 50vw;
	display: flex;
	padding: auto;
}

#right img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	border-radius: 100px;
	box-shadow: 10px 10px 10px 0px #000000;
}

.name {
	font-weight: bold;
}

.acad {
	text-decoration: underline;
}

.country {
	color: #606060;
}

#footer {
	position: absolute;
	float: right;
}